_cda.xsd

<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cda="http://www.sefa.pa.gov.br/cda_v1.00.xsd"
  targetNamespace="http://www.sefa.pa.gov.br/cda_v1.00.xsd" 
  elementFormDefault="qualified"
  attributeFormDefault="unqualified" 
  >

  <xs:group name="cpfCnpjGroup" >
    <xs:sequence>
      <xs:element name="tipoIdent">
        <xs:simpleType>
          <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element> 

      <xs:element name="cnpjCpf">
        <xs:simpleType>
          <xs:restriction base="xs:unsignedLong">
            <xs:minInclusive value="3"/>
            <xs:maxInclusive value="99999999999999"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element> 
    </xs:sequence>
  </xs:group>

  <xs:simpleType name="decimalType">
    <xs:restriction base="xs:decimal">
      <xs:maxInclusive value="999999999999999"/>
      <xs:fractionDigits value="2"/>
      <xs:pattern value="\d{1,14}(\.\d{2})"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="numeroCdaType"> 
    <xs:restriction base="xs:string">
      <!--16 numeros--> 
      <xs:pattern value="\d{16}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="cdaType">
      <xs:sequence>  

        <xs:element  name="numeroCda" type="cda:numeroCdaType"/>
        
        <xs:element name="codImposto">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedInt">
              <xs:minInclusive value="100"/>
              <xs:maxInclusive value="999"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="descImposto" >
          <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="200"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        
        <xs:element type="xs:date" name="dataInscricao" />

        <xs:element name="numeroLivro"  minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">

                <xs:pattern value="\d{1,5}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element  name="numeroFolha"  minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedInt">
              <xs:minInclusive value="1"/>
              <xs:maxInclusive value="999"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        
        <xs:element  name="procOrigem"  minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedLong">
              <xs:minInclusive value="1"/>
              <xs:maxInclusive value="999999999999999"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="procSefa"  minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="\d{16}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="razaoSocial">
          <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="150"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        
        <xs:element name="tituloEstabelecimento">
          <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="500"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      
        <xs:element name="codCircunscricao">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:minInclusive value="1"/>
              <xs:maxInclusive value="99"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="circunscricao">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="40"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="inscricaoEstadual">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedLong">
              <xs:minInclusive value="100000000"/>
              <xs:maxInclusive value="99999999999"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:group ref="cda:cpfCnpjGroup"/>

        <xs:element name="codAtividade">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedInt">
              <xs:minInclusive value="1"/>
              <xs:maxInclusive value="99999999"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element> 

        <xs:element name="atividade">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="200"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        
        <xs:element name="endereco">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="356"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="bairro"  minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="50"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="codMunicipio">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedInt">
              <xs:minInclusive value="1"/>
              <xs:maxInclusive value="9999999"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element> 

        <xs:element name="municipio">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="60"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="uf">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:length value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="cep">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedInt">
              <xs:minInclusive value="1000"/>
              <xs:maxInclusive value="99999999"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="foneFax"  minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedLong">
              <xs:minInclusive value="1000000000"/>
              <xs:maxInclusive value="99999999999"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        
        <xs:element name="responsaveis" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="responsavel" minOccurs="1"  maxOccurs="6">
                <xs:complexType>
                  <xs:sequence>

                    <xs:element name="nome">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="60"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                    <xs:element name="codQualificacao" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedInt">
                          <xs:minInclusive value="1"/>
                          <xs:maxInclusive value="9999"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                    <xs:element name="qualificacao" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                    <xs:group ref="cda:cpfCnpjGroup"/>

                    <xs:element name="endereco" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="95"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      
        <xs:element name="veiculo"  minOccurs="0">
          <xs:complexType>
            <xs:sequence>      

              <xs:element name="placa">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="\w{3}\d{4}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element  name="numeroRenavam">  
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedLong">
                    <xs:minInclusive value="1"/>
                    <xs:maxInclusive value="99999999999999"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="origemDivida">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="50"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="tipoTributo">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="50"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="fundamento" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="75"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element  name="codOrgao"  minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedLong">
              <xs:minInclusive value="1"/>
              <xs:maxInclusive value="99999999999999"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="descricaoOrgao" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="40"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element  name="periodoReferencia">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedInt">
              <xs:minInclusive value="190000"/>
              <xs:maxInclusive value="999999"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element type="xs:date" name="periodoAtual"/>
        <xs:element type="xs:date" name="periodoJuros"/>      
         
        <xs:element type="cda:decimalType" name="valorOriginal" />
        <xs:element type="cda:decimalType" name="valorPrincipalIndice"/>
        <xs:element type="cda:decimalType" name="valorPrincipalMoeda"/>
        <xs:element type="cda:decimalType" name="valorMultaIndice"/>
        <xs:element type="cda:decimalType" name="valorMultaMoeda"/>
        <xs:element type="cda:decimalType" name="valorJurosIndice"/>
        <xs:element type="cda:decimalType" name="valorJurosMoeda"/>
        <xs:element type="cda:decimalType" name="valorTotalIndice"/>
        <xs:element type="cda:decimalType" name="valorTotalMoeda"/>

        <xs:element name="valorExtenso">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="126"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="texto">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="1350"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="arquivo" />   
     
      </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="eventoWithCdaType">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="eventoWithNumeroCdaType">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="2"/>
      <xs:maxInclusive value="999"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>